.header {
  padding: 30px 0 30px 0;
  background: #181818; }
  .header__row {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    margin-left: 20px; }
  .header__nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF; }
  .header__nav a:hover {
    text-decoration: underline overline #1959e3; }
  .header__nav-link:not(:last-child) {
    margin-right: 32px; }

.nav-link-button {
  padding: 9px 20px 13px 20px;
  margin-right: 20px;
  color: #000000;
  background: #FFFFFF;
  border-radius: 14px;
  transition: 0.3s ease-in; }
  .nav-link-button:hover {
    background: #1959e3;
    color: #FFFFFF; }

@media (max-width: 850px) {
  .nav-link-button {
    padding: 0;
    color: #ffff;
    background: none;
    border-radius: none; }
    .nav-link-button:hover {
      background: none; } }
.camera__info {
  display: flex;
  position: absolute;
  right: 80px;
  bottom: 40px; }
.camera__intro {
  display: flex; }
  .camera__intro:not(:last-child) {
    margin-right: 16px; }
  .camera__intro img {
    margin-right: 6px; }
.camera__text {
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF; }
  .camera__text:not(:last-child) {
    margin-left: 6px; }

@media (max-width: 400px) {
  .camera__info {
    right: 40px; } }
.card-button {
  font-size: 15px;
  color: #000000; }
  .card-button a {
    padding: 10px 10px 13px 42px;
    background: #FFFFFF;
    border-radius: 14px; }
    .card-button a:hover {
      background: #1959e3;
      color: #FFFFFF; }
  .card-button:before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background: url(../../img/work/button.svg) no-repeat;
    left: 4px;
    top: -5px; }

.intro {
  background: url(../../img/intro/background.jpg), linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%);
  background-repeat: no-repeat;
  background-size: cover; }
  .intro__info {
    width: 600px;
    text-align: center;
    padding: 440px 0 70px 0;
    margin: 0 auto; }
  .intro__info-text {
    margin-bottom: 1px; }
  .intro__info-title {
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 18px; }

@media (max-width: 1200px) {
  .intro__info {
    padding: 420px 0 90px 0; } }
@media (max-width: 850px) {
  .intro__info {
    width: 500px;
    padding: 320px 0 190px 0; } }
@media (max-width: 550px) {
  .intro__info {
    width: 300px;
    padding: 200px 0 230px 0; }
  .intro__info-text {
    font-size: 10px;
    line-height: 16px; }
  .intro__info-title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 10px; }
  .intro__info-subtitle {
    font-size: 12px;
    line-height: 18px; } }
.work {
  padding: 120px 0 100px 0; }
  .work__title {
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-align: center; }
  .work__subtitle {
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 42px;
    text-align: center; }
  .work__cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(2);
    grid-gap: 16px;
    grid-template-areas: "card1 card2" "card3 card4"; }
  .work__card {
    position: relative;
    transition: 0.3s ease-in; }
    .work__card:hover {
      transform: scale(1.02); }
  .work__card-title {
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    position: absolute;
    bottom: 164px;
    left: 30px; }
  .work__card-subtitle {
    width: 520px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 94px;
    left: 30px; }
  .work__card-button {
    position: absolute;
    bottom: 60px;
    left: 30px; }

@media (max-width: 1200px) {
  .work__cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 576px);
    grid-template-rows: repeat(4, 600px);
    grid-gap: 16px;
    grid-template-areas: "card1" "card2" "card3" "card4"; } }
@media (max-width: 640px) {
  .work {
    padding: 80px 0 80px 0; }
    .work__title {
      font-size: 30px;
      line-height: 32px; }
    .work__cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .work__subtitle {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 20px; }
    .work__card-title {
      margin: 0;
      bottom: 134px;
      left: 10px; }
    .work__card-subtitle {
      width: 250px;
      bottom: 84px;
      left: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .work__card-button {
      bottom: 60px;
      left: 10px; } }
.picture {
  height: 600px; }
  .picture__info {
    position: relative; }
  .picture__intro {
    position: absolute;
    right: -80px;
    margin-top: 260px; }
  .picture__intro-title {
    color: #FFFFFF;
    text-transform: uppercase; }
  .picture__intro-subtitle {
    width: 298px; }
  .picture__camera-info {
    position: absolute;
    right: -80px;
    bottom: -545px; }

.picture1 {
  background: url(../../img/picture/1.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.picture2 {
  background: url(../../img/picture/2.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.picture3 {
  background: url(../../img/picture/3.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

@media (max-width: 1390px) {
  .picture__intro {
    right: 80px; }
  .picture__camera-info {
    right: 80px; } }
@media (max-width: 480px) {
  .picture__intro {
    right: 0px;
    text-align: right; }
  .picture__intro-subtitle {
    width: 270px; }
  .picture__camera-info {
    right: 0px; } }
.tools {
  margin-top: 117px;
  min-height: 422px; }
  .tools__intro {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .tools__info {
    position: relative;
    width: 600px;
    padding: 60px 40px 46px 40px; }
  .tools__info-text {
    text-transform: uppercase;
    margin-bottom: 6px; }
  .tools__info-title {
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 20px; }
  .tools__info-subtitle {
    color: #FFFFFF;
    margin-bottom: 20px; }
  .tools__picture {
    background: url(../../img/tools/IMAGE.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;
    height: 540px;
    position: absolute;
    right: -120px; }

@media (max-width: 1460px) {
  .tools__picture {
    position: relative;
    left: 0px;
    margin-bottom: 50px; }
  .tools__intro {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .tools__camera-info {
    position: absolute;
    right: 40px; } }
@media (max-width: 750px) {
  .tools {
    margin-top: 50px; }
    .tools__info {
      width: 320px;
      padding: 0 0 40px 0; }
    .tools__info-title {
      font-size: 20px;
      line-height: 22px; }
    .tools__picture {
      width: 320px;
      height: 250px; } }
.clients {
  padding: 120px 0 100px 0; }
  .clients__title {
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
    text-align: center; }
  .clients__subtitle {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 42px;
    text-align: center; }
  .clients__name {
    padding: 40px 46px; }
    .clients__name ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; }
    .clients__name li {
      margin: 30px; }

@media (max-width: 850px) {
  .clients {
    padding: 50px 0 50px 0; }
    .clients__name {
      padding: 0; }
      .clients__name ul {
        text-align: center;
        align-items: center;
        justify-content: center; }
    .clients__title {
      font-size: 30px;
      line-height: 32px;
      margin-bottom: 15px; }
    .clients__subtitle {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 20px; } }
.help {
  padding: 113px 0 100px 0; }
  .help__title {
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    width: 571px;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center; }
  .help__subtitle {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center; }
  .help__card-button {
    text-align: center; }

/*# sourceMappingURL=main.css.map */
