.help {

	padding: 113px 0 100px 0;
	
	&__intro {
		position: relative;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;

		margin-bottom: 30px;
	}

	&__title {
		font-size: 40px;
		line-height: 42px;

		color: #FFFFFF;

		width: 571px;
		margin: 0 auto;
		margin-bottom: 15px;
	}

	&__subtitle {
		font-size: 24px;
		line-height: 30px;
	}

	&__card-button {
		font-size: 15px;
	
		color: #000000;

		position: relative;
	
		a {
			padding: 10px 10px 13px 42px;
	
			background: #FFFFFF;
			border-radius: 14px;

			transition: 0.3s ease-in;
	
			&:hover {
				background: #1959e3;
				color: #FFFFFF;
			}
		}
	
		&:before {
			content: "";
	
			position: absolute;
			width: 32px;
			height: 32px;
			background: url(../../img/work/button.svg) no-repeat;
	
			left: 5px;
			top: -5px;
		}
	}
}
@media (max-width: 656px) {
	.help {

		padding: 50px 0 50px 0;

		&__title {
			font-size: 22px;
			line-height: 28px;

			width: 300px;

			margin-bottom: 5px;
		}

		&__subtitle {
			font-size: 18px;
			line-height: 25px;
		}
	}
}
@media (max-width: 400px) {
	.help {

		&__title {
			font-size: 16px;
			line-height: 20px;
		}
		&__subtitle {
			font-size: 13px;
			line-height: 20px;

		}

	}
}