.picture {

	height: 600px;

	&__info {
		position: relative;
	}
	&__intro {
		position: absolute;
		right: -80px;

		margin-top: 260px;
		
	}

	&__intro-title {
		color: #FFFFFF;

		text-transform: uppercase;

	}

	&__intro-subtitle {
		width: 298px;
	}

	&__camera-info {
		position: absolute;

		right: -80px;
		bottom: -545px;
	}
}
.picture1 {
	background: url(../../img/picture/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.picture2 {
	background: url(../../img/picture/2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.picture3 {
	background: url(../../img/picture/3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
@media (max-width:1390px) {
	.picture {
	&__intro {
		right: 80px;	
	}
	&__camera-info {
		right: 80px;
	}
}
}
@media (max-width:480px) {
	.picture {

		&__intro {
			right: 0px;

			text-align: right;
		}
		&__intro-subtitle {
			width: 270px;
		}
		&__camera-info {
			right: 0px;
		}
	}
}