.work {

	padding: 120px 0 100px 0;

	&__title {
		font-size: 40px;
		line-height: 42px;

		color: #FFFFFF;

		margin-bottom: 15px;

		text-align: center;
	}

	&__subtitle {
		font-size: 23px;
		line-height: 30px;

		margin-bottom: 42px;

		text-align: center;
	}

	&__cards {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(2);
		grid-template-rows: repeat(2);
		grid-gap: 16px;
		grid-template-areas: 
		"card1 card2"
		"card3 card4";
	}

	&__card {
		position: relative;
		transition: 0.3s ease-in;
		
			&:hover {
				transform: scale(1.02);
			}
	}

	&__card-title {
		text-transform: uppercase;

		color: #FFFFFF;

		margin-bottom: 20px;

		position: absolute;
		bottom: 164px;
		left: 30px;
	}

	&__card-subtitle {

		width: 520px;

		margin-bottom: 20px;

		position: absolute;
		bottom: 94px;
		left: 30px;
	}
	&__card-button {
		position: absolute;
		bottom: 60px;
		left: 30px;
	}
	&__card-picture {
		
	}
}
@media (max-width: 1200px) {
	.work {
		&__cards {
			display: grid;
			justify-content: center;
			grid-template-columns: repeat(1, 576px);
			grid-template-rows: repeat(4, 600px);
			grid-gap: 16px;
			grid-template-areas:
				"card1"
				"card2"
				"card3"
				"card4";
		}
	}
}
@media (max-width: 640px) {
	.work {
	
		padding: 80px 0 80px 0;
	
		&__title {
			font-size: 30px;
			line-height: 32px;
	
		}

		&__cards {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__subtitle {
			font-size: 18px;
			line-height: 20px;
	
			margin-bottom: 20px;
		}
	
		&__card-title {
			margin: 0;
			bottom: 134px;
			left: 10px;
		}
	
		&__card-subtitle {
	
			width: 250px;
			bottom: 84px;
			left: 10px;
	
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&__card-button {
		
			bottom: 60px;
			left: 10px;
		}
	}
}